*{
  font-family: "Poppins", sans-serif;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
}

body {
  position: relative;
  overflow-x: hidden;
}
/*New Update-------------------------------------------------------------------------------------------------------------------*/


.hero-row {
  display: flex;
  justify-content:space-around;
  margin: 2rem;
}

.col2-wrapper12 {
  /* border: 2px solid blue; */
  margin-right: 60px;
}
.main-heading12 {
  font-size: 3rem;
}
.hero-subHeading {
  color: var(--Orange);
  font-size: 1rem;
  letter-spacing: 2px;
}
.dollar {
  font-size: 1.5rem;
  /* border: 1px solid firebrick; */
  margin-right: 0.5rem;
  font-weight: 700;
}
.discount {
  background-color: var(--PaleOrange);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: 700;
}
.discount2 {
  display: block;
}
.hero-para {
  color: #000000;
  /* line-height: 2; */
  font-size: 1.2rem;
}
.hero-subHeading {
  margin-bottom: 2.5rem;
}
.main-heading {
  margin-bottom: 2.5rem;
}
.hero-para {
  margin-bottom:2rem;
}

.cart2-btn {
  /* width: inherit; */
  border: none;
  outline: none;
  padding: 0.7rem 5rem;
  /* border: 1px solid red; */
  background-color: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.404);
}
.cart2-main {
  margin-right: 1rem;
}
.cart2-text {
  font-size: 1.1rem;
  color: white;
}
/************************************** Sneakers images **********************/

.sneakers-div12 {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobile-prev,
.mobile-next {
  display: none;
}
.big-sneaker12 {
  display: block;
  height: 560px;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  border:5px double #afafaf;
}
.sneakers-col2 {
  /* border: 2px solid rgb(186, 66, 66); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.small-sneaker-div {
  width: max-content;
  background-color: white;
  border-radius: 12px;
}
.small-sneaker-div.active-sneaker {
  border: 3px solid #afafaf;
  height: 125px;
}
.small-sneaker {
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 120px;
  border-radius: 10px;
}
.small-sneaker:hover {
  opacity: 0.8;
}
.small-sneaker-div.active-sneaker .small-sneaker {
  opacity: 0.5;
}

.prev {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding: 0.9rem 0.95rem;
  border-radius: 50%;
  background-color: white;
  z-index: 20;
}
.next {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding: 0.9rem 1.2rem;
  border-radius: 50%;
  background-color: white;
  z-index: 20;
}
.prev:hover,
.next:hover {
  cursor: pointer;
}
.prev:hover path,
.next:hover path {
  stroke: var(--Orange);
}

.lightBox-col3 {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.checkout-btn {
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  background-color: var(--Orange);
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 550;
  cursor: pointer;
}
.checkout-btn:hover {
  opacity: 0.8;
}
.main-heading{
  color: #383838;
  font: 3rem bold sans-serif;
  font-weight: 600;
}

@media (max-width: 960px) {
  .hero-row {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 25px;
  }
  .hero-para {
    color: #000000;
    /* line-height: 2; */
    font-size: 2rem;
  }
  .main-heading{
    color: #0009aa;
    font: 4rem bold sans-serif;
    font-weight: 700;
  }
  .big-sneaker12 {
    display: block;
    height: 700px;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    border:5px double #afafaf;
  }
  .sneakers-col2 {
    /* border: 2px solid rgb(186, 66, 66); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .small-sneaker-div {
    width: max-content;
    background-color: white;
    border-radius: 12px;
  }
  .small-sneaker-div.active-sneaker {
    border: 3px solid #afafaf;
  }
  .small-sneaker {
    border: none;
    cursor: pointer;
    width: 20vw;
    border-radius: 10px;
  }
  .dollar {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    font-weight: 700;
  }
  .discount {
    background-color: var(--PaleOrange);
    padding: 1rem 1rem;
    font-size: 25px;
    border-radius: 15px;
    font-weight: 700;
  }
  .cart2-btn {
    border: none;
    outline: none;
    padding: .7rem 5rem;
    background-color: var(--Orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.404);
  }
  .cart2-text{
    font-size: 2rem;
  }
  
}
@media (max-width:762px) {
  .hero-row {
    margin:0;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .big-sneaker12 {
    margin-top: 2.5vw;
    display: block;
    width: 95vw;
    height: auto;
    cursor: pointer;
    border:5px double #afafaf;
  }
  .content-div {
    /* border: 1px solid magenta; */
    width: 80%;
  }
  .div2{
    margin-left: 1rem;
  }
  .hero-sec {
    height: auto;
  }
  .header-row {
    justify-content: space-between;
    flex-direction: column;
    height: auto;
  }

  .hero-para {
    font-size: 1.2rem;
  }
  .dollar {
    font-size: 1.7rem;  
    margin-left:1rem;
  }
  .discount2 {
    margin-left:1rem;
    margin-right:7.5vw;
  }
  .sneakers-div {
    /* border: 2px solid yellow; */
    height:0;
  }
  .cart2-btn {
    border: none;
    outline: none;
    padding: .2rem 3rem;
    background-color: var(--Orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.404);
  }
  .cart2-text{
    font-size: 2rem;
  }
  .sneakers-col1 {
    position: relative;
    /* border: 2px solid red; */
  }


  .mobile-prev,
  .mobile-next {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    padding: 0.9rem 0.95rem;
    border-radius: 50%;
  }
  .mobile-next {
    right: 1%;
    top: 50%;
  }
  .mobile-prev {
    left: 1%;
    top: 50%;
  }
  .sneakers-col2 {
    display: none;
  }
}
@media (max-width: 520px) {
  .content-div {
    width: 98%;
  }
  .header-row {
    border: none;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 0px;
  }

  .col2-wrapper {
    width: 90%;
  }
  .mobile-prev,
  .mobile-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.6rem 0.8rem;
  }
  .mobile-prev {
    left: 4%;
  }
  .mobile-next {
    right: 4%;
  }
  .big-sneaker {
    width: 100vw;
  }
  .main-heading {
    font-size: 2rem;
  }
  .hero-subHeading {
    margin-bottom: 0.7rem;
  }
  .main-heading {
    margin-bottom: 1rem;
  }
  .hero-para {
    margin-bottom: 0.7rem;
  }
  .cart2-col {
    width: 45%;
  }
  .cart-item-img {
    max-width: 20px;
  }
  .cart-para {
    font-size: 1rem;
    line-height: 1.3;
  }
  .cart2-main {
    margin-right: 1rem;
  }
}




